* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: ;
  width: 100%;
  height: 100%;
}
.nav-bar {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.nav-bar ul li {
  margin: 0 1 rem;
  padding: 1rem;
}
.nav-bar ul li a {
  text-decoration: none;
  color: black;
}
.button {
  display: flex;
  justify-content: end;
  margin-right: 140px;
  margin-top: -55px;
}
#button-1 {
  padding: 10px 40px;
  border: none;
  background: white;
  color: #fc466b;
  font-size: 14px;
  border-radius: 8px;
}
#button-2 {
  padding: 10px 40px;
  border: none;
  background: #fc466b;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  margin-left: 40px;
}
.text {
  display: flex;
  margin-top: 200px;
}
.big h1 {
  margin-left: 10rem;
  font-size: 4rem;
}
